<div class="box">
  <h2 data-i18n="heading_equipment">Restliche Ausrüstung</h2>
  <input class="feathertoggle" type="checkbox" name="attr_display-equipment" value="1" checked="true"/>
  <img class="feather" src="https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Hexxen-1733-Ulisses-Spiele(Official)/images/Feather.png" />
  <div>
    <textarea name="attr_equipment" data-i18n-placeholder="heading_equipment" placeholder="Restliche Ausrüstung"></textarea>
  </div>
</div>
